* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.side-panel {
    width: 20%;
    height: 100vh;
    position: fixed;
    -webkit-box-shadow: 2px 0px 10px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 0px 10px -4px rgba(0, 0, 0, 0.75);
}

.user-profile-container {
    margin-top: 10%;
    width: 100%;
    border-bottom: 1px solid rgb(235, 235, 235);
    text-align: center;
    align-content: center;
}

.my-profile-image {
    width: 100px;
}

.my-profile-name {
    margin: 5% auto;
    font-weight: 300;
    font-size: 120%;
}


.menu-options-container {
    margin: 15% 0;
    display: flex;
    flex-direction: column;
}

.menu-option {
    margin: 5% 10%;
    font-weight: 300;
    font-size: 150%;
    cursor: pointer;
    color: black;
}

.menu-option:hover>i {
    color: #007AFF;
    transition: 0.3s;
}

i {
    margin: 0 10%;
    transition: 0.3s;
}

.logout-container {
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: rgb(0, 122, 255);
    height: 7vh;
    text-align: center;
}

a {
    text-decoration: none;
}

.logout {
    line-height: 7vh;
    width: 100%;
    color: white;
    font-weight: 400;
    font-size: 130%;
}

main {
    margin-left: 20%;
    width: 80%;
    height: 100vh;
}

h1 {
    font-size: 300%;
    width: 70%;
    margin: 50px auto;
    color: #007AFF;
    font-weight: 400;
}

.line {
    width: 70%;
    background-color: rgb(235, 235, 235);
    height: 1px;
    margin: 0 auto;
}

.line2 {
    width: 96%;
    background-color: rgb(235, 235, 235);
    height: 1px;
    margin: 2%;
}

.message-box {
    -webkit-box-shadow: 0px 2px 15px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 15px -4px rgba(0, 0, 0, 0.75);
    width: 70%;
    border-radius: 10px;
    margin: 5% auto;
    background-color: white;
   display: flex;
   flex-direction: column;
}

.message-box:hover {
    -webkit-box-shadow: 0px 2px 15px -4px rgba(0, 122, 255, 0.75);
    box-shadow: 0px 2px 15px -4px rgba(0, 122, 255, 0.75);
}

.message-box:hover {
    transform: scale(1.1);
    transition: 0.3s;
}



h2 {
    font-size: 150%;
    font-weight: 400;
    margin: 0 2% 0 2%;
}

h3 {
    color: #808080;
    font-size: 100%;
    font-weight: 300;
    margin:0 2% 0 2%;
}

.date-time {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date, .time {
    margin: 10px 15px;
    font-weight: 200;
}

.message-container {
    width: 100%;
}

.message-phone-number {
    margin: 10px 15px
}

.message-boxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.col {
    text-align: center;
    display: flex;
    flex-direction: column;
}
