{% extends 'layout.html.twig' %}
{% block title %} Homepage {% endblock %}
{% block content %}

    <div class="container">


         <h4>Username: {{ username }}</h4>
        <h4>Password: {{ password }}</h4>
      

          


    </div>
{% endblock %}
